[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "~=3.7"

[packages]
requests = "~=2.22"
numpy = "~=1.17"
pillow = "~=6.1"
pandas = "~=0.24"
beautifulsoup4 = "~=4.9"
tensorflow = "~=2.0"

[requires]
python_version = "3.6"

[scripts]
style = "flake8"
